.err404 {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h1 {
        font-weight: 10;
        color: #FFFFFF;
        font-family: "Roboto";
        font-size: 10em;
    }

    p {
        max-width: 50%;
        margin: 0 auto;
        line-height: 4vh;
        color: #FFFFFF;
        font-family: "Roboto";
    }
}