// Début de la page
video {
    width: 100%;
}

// Écart entre chaque bloc principal de la page
section {
    margin-top: 16vh;
}

// Section "Entreprise"

.entreprise {
    display: flex;
    align-items: center;
    gap: 5%;

    img {
        width: 600px;
        height: 500px;
    }

    .entreprise-texte {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 40%;

        h2 {
            font-family: "Roboto";
            color: white;
            font-size: 0.8rem;
            letter-spacing: 3px;
        }

        h3 {
            font-family: 'Cormorant_Garamond';
            font-weight: bold;
            font-size: 1.8rem;
            color: #D7A449;
        }

        hr {
            width: 20%;
            opacity: 0.5;
        }

        p {
            font-family: "Roboto";
            font-size: 0.9rem;
            color: white;
            line-height: 4vh;
        }

        a {
            display: block;
            border: solid 2px #45B573;
            padding: 8px 48px;
            width: max-content;
            text-decoration: none;
            font-family: "Roboto";
            font-size: 1rem;
            color: #45B573;
            transition: 0.3s ease-in;
        }

        a:hover {
            transition: 0.3s ease-out;
            border: solid 2px #D7A449;
            color: #D7A449;
        }
    }
}

// Section "Mon travail"

.travail {
    display: flex;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    .travail-texte {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        h2 {
            font-family: "Roboto";
            color: white;
            font-size: 0.8rem;
            letter-spacing: 3px;
        }

        h3 {
            font-family: 'Cormorant_Garamond';
            font-weight: bold;
            font-size: 1.8rem;
            color: #D7A449;
        }

        hr {
            width: 10%;
            opacity: 0.5;
        }

        p {
            max-width: 40%;
            text-align: center;
            font-family: "Roboto";
            font-size: 0.9rem;
            color: white;
            line-height: 4vh;
        }

        a {
            display: block;
            border: solid 2px #45B573;
            padding: 8px 48px;
            width: max-content;
            text-decoration: none;
            font-family: "Roboto";
            font-size: 1rem;
            color: #45B573;
            transition: 0.3s ease-in;
        }

        a:hover {
            transition: 0.3s ease-out;
            border: solid 2px #D7A449;
            color: #D7A449;
        }
    }
}

// Section "Qualités"
.qualites {
    display: flex;
    flex-direction: column;
    gap: 16vh;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.fait_main,
.sur_mesure {
    display: flex;
    align-items: center;
    gap: 10%;
}

.fait_main_image img,
.sur_mesure_image img {
    width: 500px;
    height: 500px;
}

.sur_mesure {
    flex-direction: row-reverse;
}

.fait_main_texte,
.sur_mesure_texte {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;

    h2 {
        font-family: "Roboto";
        color: white;
        font-size: 0.8rem;
        letter-spacing: 3px;
    }

    h3 {
        font-family: 'Cormorant_Garamond';
        font-weight: bold;
        font-size: 1.8rem;
        color: #D7A449;
    }

    hr {
        width: 30%;
        opacity: 0.5;
    }

    p {
        max-width: 80%;
        text-align: left;
        font-family: "Roboto";
        font-size: 0.9rem;
        color: white;
        line-height: 4vh;
    }
}

.qualites_atouts {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;

    .qualites_atout {
        width: 35%;
        display: flex;
        gap: 24px;
    }
}

.qualites_texte {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p {
        color: #FFFFFF;
        font-family: "Roboto";
    }
}

.qualites_texte p:first-child {
    font-size: 1.1rem;
}

.qualites_texte p:last-child {
    font-size: 0.9rem;
}

// Partie "Galerie"
.galerie {
    .galerie_top {
        img {
            width: 100%;
            height: auto;
        }
    }

    .galerie_content {
        margin-top: 64px;
        text-align: center;

        h3 {
            font-family: 'Cormorant_Garamond';
            font-weight: bold;
            font-size: 2rem;
            color: #D7A449;
        }

        p {
            text-align: center;
            font-family: "Roboto";
            font-size: 0.9rem;
            color: white;
            line-height: 4vh;
        }
    }
}


.galerie_images {
    max-width: 75vw;
    margin: 48px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: flex-start;

    img {
        width: 250px;
        height: 250px;
    }

    article {
        position: relative;

        .images_hover {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            top: 0;
            padding: 8px;
            height: 250px;
            width: 250px;
            transition: 0.3s ease;
            opacity: 0;
            color: #FFFFFF;
            background-color: #6e390881;
            word-break: break-word;

            p {
                color: #FFFFFF;
                text-align: center;
                font-family: "Roboto";
            }
        }

        .images_hover p:first-child {
            font-size: 1.1rem;
            font-weight: bold;
        }

        .images_hover p:last-child {
            font-size: 0.8rem;
        }
    }

    article:hover>.images_hover {
        opacity: 1;
    }
}


.contact_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    p {
        color: #FFFFFF;
        font-family: "Roboto";
        font-size: 1.1rem;
    }

    a {
        display: block;
        border: solid 2px #45B573;
        padding: 8px 48px;
        width: max-content;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Roboto";
        font-size: 0.9rem;
        color: #45B573;
        transition: 0.3s ease-in;
    }

    a:hover {
        transition: 0.3s ease-out;
        border: solid 2px #D7A449;
        color: #D7A449;
    }
}